__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

logs/
app/logs/
pipeline_*.log

data/
.env
*.env
*.code-workspace
custom_summary_prompt.txt
MS_Teams_channels.yaml
pmn_selection.yaml
pmn_sources.yaml
PQ_Scripts.pq
